@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");
@import url("./css/footer.css");
@import url("./css/renderCards.css");
@import url("./css/renderPageProduct.css");
@import url("./css/favoriteDropdown.css");

/* default style */
:root {
  --primary-aqua: #a9395d;
  --second-aqua: #e36;
  --primary-gray: #313131;
  --second-gray: #5f5f5f;
  --ligth-gray: #5f5f5f;
  --max-ligth-gray: #c7c7c7;
  --color-white: #ffffff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.container-fluid {
  width: 100%;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
  gap: 10px;
}
.bg-primary {
  background-color: var(--primary-aqua);
  color: var(--color-white);
}
.font-small {
  font-size: 12px;
}
/* default button style */
.stl-primary {
  padding: 5px 10px;
  outline: 0;
  border: 0;
  border-radius: 5px;
  color: var(--color-white);
  background-color: var(--primary-aqua);
}
.stl-line {
  padding: 5px 10px;
  outline: 0;
  border: 0;
  border-radius: 5px;
  background-color: var(--color-white);
  color: var(--primary-aqua);
  border: 1px solid var(--primary-aqua);
}
.filter {
  border-radius: 20px;
}

/* loading */

#loading {
  width: 100%;
  display: none;
  margin-top: 200px;
  text-align: center;
}

/* navbar */
nav i {
  margin-right: 10px;
}
#search button {
  position: relative;
  padding: 4px;
  right: 38px;
  border: none;
  background-color: var(--color-white);
  color: var(--max-ligth-gray);
}
#search input {
  padding: 5px;
  border: 1px solid var(--max-ligth-gray);
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 2px solid var(--color-white);
  border-radius: 50px;
}
.avatar i {
  margin: 0;
}

/* rating */
.qualification {
  display: flex;
  gap: 5px;
}
.ellipse {
  background-color: var(--max-ligth-gray);
  width: 5px;
  height: 5px;
  border-radius: 2.42px;
}
.ellipse-full {
  background-color: #ffd646;
  width: 5px;
  height: 5px;
  border-radius: 2.42px;
}
